<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(testForm)" #testForm=ngForm>
        <div class="form-group" >
            <label for="TestName">Tests List Path</label>
            <input 
                type="text" 
                id="TestName" 
                class="form-control"
                ngModel
                name="testname"
                contenteditable="true"
            >
        </div>
        <div class="form-group" >
            <label for="Run2">Custom Build Path</label>
            <input 
                type="text" 
                id="Run2" 
                class="form-control"
                ngModel
                name="run2"
            >
        </div>
        <div class="form-group" >
            <label for="Run1">Standard Build Path</label>
            <input 
                type="text" 
                id="Run1" 
                class="form-control"
                ngModel
                name="run1"
            >
        </div>
        <div>
            <div class="form-group col-md-6" >
                <label for="Mode">RunMode</label>
                <select name="mode" id="Mode" ngModel class="form-control">
                    <option value="regular">regular</option>
                    <option value="short">short</option>
                </select>
            </div>
            <div class="form-group col-md-6" >
                <label for="Version">Build Version</label>
                <input 
                    type="text" 
                    id="Version" 
                    class="form-control"
                    ngModel
                    name="version"
                >
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
        <!-- <button class="btn btn-primary" type="submit">Difference</button> -->
        
    </form>
    <li *ngIf = "isLoading">
        <div class="loader" ></div>
    </li>
</div>

<app-bar-chart [plot]="plot" [originalData]="originalData"></app-bar-chart>