<div class="container">
    <div class="row">
        <div *ngIf="showPlot">
            <hr>
            <table class="table table-bordered ">
                <thead class="thead-dark"> 
                    <tr>
                        <th># of tests jounal run</th>
                        <th># of tests slower</th>
                        <th>slower tests percentage(%)</th>
                        <th># of tests faster</th>
                        <th>faster tests percentage(%)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{summary[1].length}}</td>
                        <td>{{more}}</td>
                        <td>{{more_percent}}%</td>
                        <td>{{less}}</td>
                        <td>{{less_percent}}%</td>
                    </tr>
                </tbody>
            </table>
            <div style="display: block;">
                <canvas baseChart width="600" height="400" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Tests #</th>
                        <th>Test Name</th>
                        <th>Custom Convegence</th>
                        <th>Standard Convegence</th>
                        <th>Diff % (positive means worse)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of summary[0]; let i = index">
                        <td>{{i + 1}}</td>
                        <td><a [routerLink]="testHref[i]" target="_blank">{{item}}</a></td>
                        <td>{{summary[3][i]}}</td>
                        <td>{{summary[2][i]}}</td>
                        <td>{{summary[1][i]}}</td>
                    </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>