<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(testForm)" #testForm=ngForm>
        <div class="form-group" >
            <label for="TestName">TestName</label>
            <input 
                type="text" 
                id="TestName" 
                class="form-control"
                ngModel
                name="testname"
            >
        </div>
        <div class="form-group" >
            <label for="BeginTime">BeginTime</label>
            <input 
                type="text" 
                id="BeginTime" 
                class="form-control"
                ngModel
                name="begintime"
            >
        </div>
        <div class="form-group" >
            <label for="EndTime">EndTime</label>
            <input 
                type="text" 
                id="EndTime" 
                class="form-control"
                ngModel
                name="endtime"
            >
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>