<div class="col-md-10 col-md-offset-1">
    <form (ngSubmit)="onSubmit(testForm)" #testForm=ngForm>   
        <div class="row">     
            <div class="form-group col-md-2" >
                <label for="Version">Version(Ex. 19.1)</label>
                <input 
                    type="text" 
                    id="Version" 
                    class="form-control"
                    [(ngModel)]="def_version"
                    name="version"
                >
            </div>
            <div class="form-group col-md-8" >
                <label for="TestListPath">Tests List Path</label>
                <input 
                    type="text" 
                    id="TestListPath" 
                    class="form-control"
                    [(ngModel)]="def_testListPath"
                    name="testListPath"
                >
            </div>
            <div class="form-group col-md-2" >
                <label for="BuildID">Build ID</label>
                <input 
                    type="text" 
                    id="BuildID" 
                    class="form-control"
                    ngModel
                    name="buildId"
                >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3"  >
                <label for="ProjectType">Project</label>
                <select  class="form-control" id="ProjectType" name="projectType"  [(ngModel)]="def_projectType">
                    <option value="Custom">Custom</option>
                    <option value="Customer">Customer</option>
                    <option value="Customer_dev">Customer_dev</option>
                    <option value="Daily_Reg">Daily_Reg</option>
                    <option value="Daily_Reg_dev">Daily_Reg_dev</option>
                    <option value="FLCORE">FLCORE</option>
                    <option value="FLCORE_dev">FLCORE_dev</option>
                    <option value="GPU">GPU</option>
                    <option value="Mix_Win_Linux">Mix_Win_Linux</option>
                    <option value="Offsite">Offsite</option>
                    <option value="Packages">Packages</option>
                    <option value="Phy-Mod">Phy-Mod</option>
                    <option value="Regular-mode">Regular-mode</option>
                    <option value="Release">Release</option>
                    <option value="Sim-Env">Sim-Env</option>
                    <option value="Sol-Met">Sol-Met</option>
                </select>
            </div>
            <div class="form-group col-md-3" >
                <label for="DatabaseTable">Database Table</label>
                <select class="form-control" name="databaseTable" id="DatabaseTable"  [(ngModel)]="def_databaseTable">
                    <option value="build_fluent">build_fluent</option>
                    <option value="custom_fluent">custom_fluent</option>
                    <option value="customer_cases">customer_cases</option>
                    <option value="customer_cases_dev">customer_cases_dev</option>
                    <option value="dev_fluent">dev_fluent</option>
                    <option value="dev_meshing">dev_meshing</option>
                    <option value="feature_fluent">feature_fluent</option>
                    <option value="flcore">flcore</option>
                    <option value="flcore_dev">flcore_dev</option>
                    <option value="offsite_fluent">offsite_fluent</option>
                    <option value="reg_19">reg_19</option>
                    <option value="reg_191">reg_191</option>
                    <option value="reg_dev">reg_dev</option>
                    <option value="regular">regular</option>
                    <option value="regular_dev">regular_dev</option>
                    <option value="regular_fluent">regular_fluent</option>
                    <option value="release_182">release_182</option>
                    <option value="release_19">release_19</option>
                    <option value="release_191">release_191</option>
                    <option value="test_fluent">test_fluent</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="Precision">Precision</label>
                <select class="form-control" id="Precision" name="precision" [(ngModel)]="def_precision">
                    <option value="All">All</option>
                    <option value="sp">sp</option>            
                    <option value="dp">dp</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="RunType">Run Type</label>
                <select class="form-control" id="RunType" name="runType" size="3" multiple="multiple" [(ngModel)]="def_runType">
                    <option value="All">All</option>
                    <option value="quick">quick</option>
                    <option value="short">short</option>
                    <option value="regular">regular</option>
                    <option value="io">io</option>
                    <option value="perf">perf</option>
                    <option value="gui">gui</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="Thread">Processors</label>
                <select class="form-control" id="Thread" name="thread" [(ngModel)]="def_thread" size="3" multiple="multiple">
                    <option value="All">All</option>
                    <option value="0">0</option>            
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                    <option value="48">48</option>
                </select>
            </div>
            
        </div>
        <div class="row">
            <div class="form-group col-md-2" >
                <label for="Days">Days</label>
                <input 
                    type="text" 
                    id="Days" 
                    class="form-control"
                    [(ngModel)]="def_days"
                    name="days"
                >
            </div>
            <div class="form-group col-md-2" >
                <label for="Platform">Platform</label>
                <select class="form-control" id="Platform" name="platform" [(ngModel)]="def_platform">
                    <option value="All">All</option>
                    <option value="lnamd64">lnamd64</option>
                    <option value="win64">win64</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="TestEngineer">Test Engineer</label>
                <select class="form-control" name="testEngineer" id="TestEngineer"  ngModel="ALL">
                    <option value="ALL">ALL</option>
                    <option value="ajamwal">ajamwal</option>
                    <option value="arajan">arajan</option>
                    <option value="akulshre">akulshre</option>
                    <option value="abkumar">abkumar</option>
                    <option value="bbertola">bbertola</option>
                    <option value="ksreekan">ksreekan</option>
                    <option value="pdave">pdave</option>
                    <option value="rding">rding</option>
                    <option value="rpdama">rpdama</option>
                    <option value="saorsino">saorsino</option>
                    <option value="smallela">smallela</option>
                    <option value="sdhar">sdhar</option>
                    <option value="ssroy">ssroy</option>
                    <option value="sperumal">sperumal</option>
                    <option value="spveluri">spveluri</option>
                    <option value="stipnis">stipnis</option>
                    <option value="sshivank">sshivank</option>
                    <option value="umane">umane</option>
                    <option selected="selected" value="yihu">yihu</option>
                    <option value="ypatel">ypatel</option>
                </select>
            </div>
            <div class="form-group col-md-5" >
                <label for="ResultsDir">Results Dir</label>
                <input 
                    type="text" 
                    id="ResultsDir" 
                    class="form-control"
                    [(ngModel)]="def_resultsDir"
                    name="resultsDir"
                    
                >
            </div>

        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<div *ngIf="isResultReady">
    
    <div class="col-md-4 col-md-offset-4">
        <hr>
        <button (mousedown)="copyToClipboard()" (mouseup)="execCopy()">Copy Command</button>
        <hr>
    </div>
    
    
    <div *ngFor="let testlist of Object.keys(resutlstring).reverse(); let i = index"> 
        <table class="table table-bordered " >
                <caption>{{testlist}}</caption>
                <thead class="thead-dark">
                    <tr >
                        <th>TestName</th>
                        <th>command</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let testname of Object.keys(resutlstring[testlist]).reverse(); let i = index">
                        <td *ngIf="resutlstring[testlist][testname].length != 0 && testname != 'listInfo'">{{testname}}</td>
                        <td *ngIf="resutlstring[testlist][testname].length != 0 && testname != 'listInfo'">{{resutlstring[testlist][testname].join('\n')}}</td>
                        
                    </tr>
                </tbody>
            </table>

    </div>
    
</div>

