<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(testForm)" #testForm=ngForm>
        <div class="form-group" >
            <label for="TestListPath">Tests List Path</label>
            <input 
                type="text" 
                id="TestListPath" 
                class="form-control"
                ngModel
                name="testListPath"
            >
        </div>
        <div class="form-group">
            <label for="Run2">Custom Build Path</label>
            <input type="text" id="Run2" class="form-control" ngModel name="run2">
        </div>
        <div class="row">
            <div class="form-group col-md-6" >
                <label for="BeginTime">BeginTime</label>
                <input 
                    type="text" 
                    id="BeginTime" 
                    class="form-control"
                    ngModel
                    name="begintime"
                >
            </div>
            <div class="form-group col-md-6" >
                <label for="EndTime">EndTime</label>
                <input 
                    type="text" 
                    id="EndTime" 
                    class="form-control"
                    ngModel
                    name="endtime"
                >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2" >
                <label for="RunType">Run Type</label>
                <select class="form-control" id="RunType" name="runType" size="3" multiple="multiple" ngModel>
                    <option selected="selected" value="All">All</option>
                    <option value="short">short</option>
                    <option value="regular">regular</option>
                    <option value="perf">perf</option>
                    <option value="gui">gui</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="Thread">Processors</label>
                <select class="form-control" id="Thread" name="thread" ngModel size="3">
                    <option value="0">0</option>            
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                    <option value="48">48</option>
                </select>
            </div>
            <div class="form-group col-md-2" >
                <label for="Platform">Platform</label>
                <select class="form-control" id="Platform" name="platform" size="3"  ngModel="lnamd64">
                    <option value="lnamd64">lnamd64</option>
                    <option value="win64">win64</option>
                </select>
            </div>
            <div class="form-group col-md-3" >
                <label for="Version">Version(Ex. 19.1)</label>
                <input 
                    type="text" 
                    id="Version" 
                    class="form-control"
                    ngModel="19.2.0"
                    name="version"
                >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2" >
                <label for="BuildID">BuildID</label>
                <input 
                    type="text" 
                    id="BuildID" 
                    class="form-control"
                    ngModel
                    name="buildId"
                >
            </div>
            <div class="form-group col-md-2" >
                <label for="TestEngineer">Test Engineer</label>
                <input 
                    type="text" 
                    id="TestEngineer" 
                    class="form-control"
                    ngModel
                    name="testEngineer"
                >
            </div>
            <div class="form-group col-md-5" >
                <label for="ResultsDir">Results Dir</label>
                <input 
                    type="text" 
                    id="ResultsDir" 
                    class="form-control"
                    ngModel
                    name="resultsDir"
                    placeholder="/net/lebqa01/export/testing/matrix/RESULTS"
                >
            </div>

        </div>
        <div class="form-group" >
            <label for="DatabaseTable">Database Table</label>
            <select class="form-control" name="databaseTable" size="10" multiple="multiple" id="DatabaseTable"  ngModel>
                <option value="build_fluent">build_fluent</option>
                <option value="custom_fluent">custom_fluent</option>
                <option value="customer_cases">customer_cases</option>
                <option value="customer_cases_dev">customer_cases_dev</option>
                <option value="dev_fluent">dev_fluent</option>
                <option value="dev_meshing">dev_meshing</option>
                <option value="feature_fluent">feature_fluent</option>
                <option value="flcore">flcore</option>
                <option value="flcore_dev">flcore_dev</option>
                <option value="reg_19">reg_19</option>
                <option value="reg_191">reg_191</option>
                <option value="reg_dev">reg_dev</option>
                <option value="regular">regular</option>
                <option value="regular_dev">regular_dev</option>
                <option value="regular_fluent">regular_fluent</option>
                <option value="release_182">release_182</option>
                <option value="release_19">release_19</option>
                <option value="release_191">release_191</option>
                <option value="test_fluent">test_fluent</option>
                </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <li *ngIf="isLoading">
        <div class="loader col-md-offset-4 col-md-4 "></div>
    </li>
</div>
<div *ngIf="loadingComplete">
    <app-bar-chart [plot]="plot" [originalData]="originalData" [notRunStd]="notRunStd" [failedStd]="failedStd"></app-bar-chart>
</div>